@media screen and (min-width: 800px) {

  body{
    background-image:url(../images/captissbg2.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-color:black;
    background-position:right;
  }
  .requestrow{
    margin-top:5%;
  }
  .captisslogo{
    display:none;
  }

}
.qrstart{
  margin-top:67px;
}
.footer{
  background-color:black !important;
}
.maincontent{
  background-color:black !important;
}
.qrcode{
  color:#FCC31E;
  text-transform:uppercase;
  font-size:22px;
  font-weight:650;
}
@media all and (max-width: 600px){
  .requestrow{
    margin-top:10% !important;
  }
  .captisslogo{
    width:60%;
    margin-left:20%;
    margin-top:15%;
    margin-bottom:-5%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .captisslogo{
    width:60% !important;
    margin-left:20% !important;
    margin-top:10%;
  }
}
