@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.maincontent{
  background-color:#7C133A;
}
.headerlogo{
  width: 130px;
  margin-top: -15px;
}
.mainlogo{
  width:100%;
  margin-bottom:30px;
  background-color:wheat;
  margin-top:30px;
  padding:30px;
  border: 3px solid gold;
  border-radius:10px;
}
input[type=text] {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px;
  border-radius:5px;
}
.QRCODE{
  color: white;
  font-family: raleway;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7C133A;
  color: white;
  text-align: center;
  font-family:raleway;
  font-size:10px;
  filter:invert(10%)
}
.copyright{
  margin-top:10px;
}
.navbar{
  margin-bottom:8px !important;
}
.hiddenbutton{
  display:none;
}
.requestrow{
  font-family:raleway !important;
  color:white !important;
  font-size:27px !important;
  text-align:center;
  margin-top:30px;
}
.navbar-nav {
  float:right!important;
}
.navbar-nav a{
  color:#7e1536 !important;
  font-size:17px;
  margin-right:20px;
}
.QR{
  text-align:center;
}
h3{
  display:inline !important;
  font-size:34px !important;
  color:#BC9C63 !important;
  text-decoration:underline;
  text-transform:uppercase;
}
.walkin{
  text-align:center;
  color:white!important;
  font:raleway !important;
}
.submitbutton{
  color:black!important;
}
.walkin input[type=text] {
  margin:10px;
}
.walkinhead{
  color:#BC9C63 !important;
  font-weight:700;
  font-size:32px;
}
